.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
  
    .title {
      margin: 10px 0;
    }

    @media screen and (max-width: 800px) {
      width: 75%;
  
      align-items: space-between;
      margin:0px 20px;
  
      .buttons {
        justify-content: space-between;
        margin: 0px 20px;
      }
    }
  }